[submodule "development/software-dev-project/BeanExamplesMvn"]
	path = development/software-dev-project/BeanExamplesMvn
	url = https://gitlab.com/omniprof/BeanExamplesMvn.git
[submodule "development/software-dev-project/DBTableExample"]
	path = development/software-dev-project/DBTableExample
	url = https://gitlab.com/omniprof/DBTableExample
