[submodule "development/software-dev-project/BeanExamplesMvn"]
	path = development/software-dev-project/BeanExamplesMvn
	url = https://gitlab.com/omniprof/BeanExamplesMvn.git
[submodule "development/software-dev-project/DBTableExample"]
	path = development/software-dev-project/DBTableExample
	url = https://gitlab.com/omniprof/DBTableExample
[submodule "development/android/LoanCalculator"]
	path = development/android/LoanCalculator
	url = git@github.com:sirMerr/LoanCalculator.git
[submodule "development/php-compsci"]
	path = development/php-compsci
	url = git@github.com:sirMerr/php-compsci.git
[submodule "development/android/assignments/assign1-team06"]
	path = development/android/assignments/assign1-team06
	url = git@github.com:Android518-2017/assign1-team06.git
[submodule "development/android/assignments/assign2-team10"]
	path = development/android/assignments/assign2-team10
	url = git@github.com:Android518-2017/assign2-team10.git
[submodule "development/software-dev-project/PopUpDemo"]
	path = development/software-dev-project/PopUpDemo
	url = git@gitlab.com:omniprof/PopUpDemo.git
[submodule "development/software-dev-project/ExecutorDemo"]
	path = development/software-dev-project/ExecutorDemo
	url = git@gitlab.com:omniprof/ExecutorDemo.git
[submodule "development/software-dev-project/kf_desktop_standard_project"]
	path = development/software-dev-project/kf_desktop_standard_project
	url = git@gitlab.com:omniprof/kf_desktop_standard_project.git
